@page "/demo02"
@inject IContactService contactService


<h3>Demo02</h3>


@if (contactService.GetContact().Count == 0)
{
    <b>No Contacts to display</b>

}
else
{
    foreach (var contact in contactService.GetContact())
    {
        <b>@contact.FirstName @contact.LastName</b>
        <br />
        <i>@contact.Email</i>
        <br />
    }
}


@code {

}
